node_modules/
data/
.env
dist/
*.db
# Dependencias
frontend/node_modules/
backend/node_modules/

# Variables privadas
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

# Permitir archivos de ejemplo
!frontend/.env.example
!backend/.env.example

# Builds
frontend/dist/
backend/dist/

# Logs
*.log
npm-debug.log*

# Sistema y editor
.DS_Store
Thumbs.db
.vscode/